<h4>Note</h4>

<form name="noteForm">
    <md-input-container>
        <label>Name</label>
        <input type="text" ng-model="note.name" required md-maxlength="10">
    </md-input-container>

    <md-input-container>
        <label>Note text</label>
        <textarea class="note-body" ng-model="note.content" rows="10" required md-maxlength="500">
                </textarea>
    </md-input-container>
    <p style="color:red" ng-show="isFormInvalid">All fields are required</p>
    <p style="color:red" ng-show="isNotDeletedNote">Error happened during delete note</p>
    <p style="color:red" ng-show="isNotSavedNote">Error happened during save note</p>
    <p style="color:green" ng-show="isNotSavedNote != null && !isNotSavedNote">Note successfully saved</p>
    <div class="action-buttons">
        <md-button ng-click="saveNote(noteForm)">
            Save
        </md-button>
        <md-button ng-click="deleteNote(note.id)" confirm="Are you sure you want to delete this note?">
            Delete
        </md-button>
        <md-button ng-click="cancelNote()">
            Cancel
        </md-button>
    </div>
</form>