<h4>Available notes</h4>

<ul class="notes-list" ng-init="loadNotes()">
    <li ng-repeat="note in noteList" ng-click="viewNote(note.id)">
        <p class="note-summary">{{note.name}}</p>
        <p class="note-timedate"><i>{{note.date | date:'dd/MM/yyyy'}}</i></p>
    </li>
</ul>
<md-button style="float:right" ng-click="newNoteView()">
    New Note
</md-button>