<div class="login-form-parent">
    <div class="login-form">
        <h1>Login</h1>

        <form name="loginForm">
            <md-input-container>
                <label>Username</label>
                <input type="text" ng-model="login.username" required>
            </md-input-container>

            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="login.password" required>
            </md-input-container>

            <p style="color:red" ng-show="invalidCreds">Invalid credentials</p>
            <p style="color:red" ng-show="emptyFields">All fields are required</p>

            <div class="action-buttons">
                <md-button ng-click="login(loginForm)">
                    Login
                </md-button>
            </div>
        </form>
    </div>
</div>