<div class="notes-view">
    <section class="notes-panel">
        <div ng-include="'partials/list-notes.html'"></div>
    </section>
    <section class="note-panel">
        <div ng-if="isEditCreateView" ng-include="'partials/create-edit-note.html'"></div>
        <div ng-if="!isEditCreateView && !isNoteNotFound">
            No note selected
        </div>
        <div ng-if="isNoteNotFound">
            No note found
        </div>
    </section>
</div>